* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: whitesmoke;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    color: darkslategray;
    margin: 0;
}

/* Header Section */
header {
    text-align: center;
}

header h1 {
    font-size: 5rem;
    text-transform: uppercase;
}

header h2 {
    font-size: 1rem;
    padding-bottom: 6px;
}

/* Panels Inactive-state */
.container {
    display: flex;
    width: 100%;
    padding: 30px;
    margin: 0;
}

.panel {
    background-size: cover;
    background-position: 10% 90%;
    background-repeat: no-repeat;
    box-shadow: 10px 5px 4px gray;
    height: 70vh;
    position: relative;
    flex: 0.5;
    border-radius: 20px;
    margin: 30px 10px;
    transition: flex 0.5s ease-in;
    cursor: pointer;
}

.btn { 
    margin: 0;
    opacity: 0;
}

.panel h3 {
    color: black;
    font-size: 20px;
    font-weight: 700;
    top: 10px;
    margin: auto;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-transform: uppercase;
    padding-top: 20px;
    background: rgba(255, 255, 255, 0.5)
}

.panel p {
    margin: 0;
    opacity: 0;
    width: 10px;
}

.pageBtn {
    width: 180px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    display: block;
    margin: 20px auto;
    text-decoration: none;
}

#info {
    padding-top: 50px;
}

.teamTextBox {
    width: 10px;
}

/* Panels Active-state */
.panel.active {
    flex: 7;
    opacity: 1;
    transition: transform 1.2s;
    cursor: not-allowed;
}
.panel.active h3 {
    writing-mode: horizontal-tb;
    text-orientation: sideways;
    margin: 20px 50px;
    transition: flex 3s ease-in;
    font-size: 1.8rem;
    width: 280px;
}
.panel.active .btn {
    opacity: 0.8;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 110px;
    border-radius: 0 0 20px 20px;
    border: none;
    font-size: 2rem;
    font-weight: normal;
    cursor: pointer;
}

.panel.active p {
    opacity: 1;
    margin: auto;
    padding: 65px 50px 10px;
    line-height: 2;
    width: 80%;
    color: black;
    font-weight: 700;
}

.panel.active span {
    font-weight: bolder;
    color: darkslateblue;
}

.panel.active > .teamTextBox {
    opacity: 0.8;
    border-radius: 10px;
    height: 70%;
    width: 90%;
    margin: 40px auto;
    padding-top: 25px;
    background-color: whitesmoke;
}
.panel.active > .teamTextBox > p {
    margin-top: 15px;
}

.panel.active .card-container {
    opacity: 1;
    border-radius: 10px;
    height: 100%;
    width: 450px;
    margin: 40px auto;
    
    background-color: rgb(240, 240, 240);
    box-shadow: 5px 3px 4px gray;
    padding: 10px;
    text-align: center;
}

/* Player Cards */

.card-container {
    opacity: 0;
    width: 10px;
}

.text-box {
    height: 65%;
   
}

img {
    margin: auto;
    justify-content: center;
    display: block;
    padding: 20px;
}

h4, 
h5 {
    margin: 20px 40px;
    display: block;
    line-height: 1.5px;
    padding-bottom: 15px;
    font-weight: bolder;
    color: black;
    font-size: 1rem;
}

h4 {
    font-size: 1.3rem;
}

/* Footer */
.social {
    text-align: center;
}
.social h3 {
    font-size: 1rem;
    padding: 10px;
}

