/* Colors */
:root {
    --page-color: whitesmoke;
    --karasuno-color: #ff8303;
    --nekoma-color: #EC4646;
    --datekogyo-color: #34656D;
    --aobajosai-color: #A8E6CF;
    --shiratorizawa-color: #95389E;
    --fukurodani-color: #31326F;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--page-color);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    color: darkslategray;
    margin: 0;
}

/* Header Section */
header {
    text-align: center;
}

header h1 {
    font-size: 5rem;
    text-transform: uppercase;
}

header h6 {
    font-size: 1rem;
    padding-bottom: 6px;
}

/* Panels Inactive-state */
.container {
    display: flex;
    width: 100%;
    padding: 30px;
    margin: 0;
}

.panel {
    background-size: cover;
    background-position: cover center;
    background-repeat: no-repeat;
    box-shadow: 10px 5px 4px gray;
    height: 70vh;
    position: relative;
    flex: 0.5;
    border-radius: 20px;
    margin: 30px 10px;
    transition: flex 0.5s ease-in;
    cursor: pointer;
}

.btn { 
    margin: 0;
    opacity: 0;
}

.panel h3 {
    color: black;
    font-size: 20px;
    font-weight: 700;
    top: 10px;
    margin: auto;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-transform: uppercase;
    padding-top: 20px;
}

.panel p {
    margin: 0;
    opacity: 0;
    width: 10px;
}

/* Panels Active-state */
.panel.active {
    flex: 7;
    opacity: 1;
    transition: transform 1.2s;
    cursor: not-allowed;
}
.panel.active h3 {
    writing-mode: horizontal-tb;
    text-orientation: none;
    margin: 20px 50px;
    transition: flex 0.6 ease-in;
    font-size: 1.8rem;
}
.panel.active .btn {
    opacity: 0.8;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 110px;
    border-radius: 0 0 20px 20px;
    border: none;
    font-size: 2rem;
    font-weight: normal;
    cursor: pointer;
}

.panel.active p {
    opacity: 1;
    margin: auto;
    padding: 65px 50px 10px;
    line-height: 2;
    width: 80%;
    color: black;
    font-weight: 700;
}

.panel.active span {
    font-weight: bolder;
    color: darkslateblue;
}

.panel.active > .teamTextBox {
    opacity: 0.8;
    border-radius: 10px;
    height: 65%;
    width: 90%;
    margin: auto;
    padding-top: 13px;
    background-color: whitesmoke;
}